<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="" class="logo"></a>
            <h4 class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta
                de
                crédito</h4>
        </div>
        <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>
        <nav class="bottom-bar">
            <ul class="left-navbar">
                <li><a href="http://">Ofertas</a></li>
                <li><a href="http://">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="http://">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/registro">Crea tu cuenta</a><i class="fas fa-address-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="http://">Mis compras</a><i class="fas fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="" class="banner" width="100%">
        <h3>Basado en tu última visita</h3>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="img-products">
                <i class="fa-solid fa-truck"></i>
                <div class="detalles">
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>
            <br>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBooK" class="img-products">
                <i class="fa-solid fa-truck"></i>
                <div class="detalles">
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            <br>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="img-products">
                <i class="fa-solid fa-truck"></i>
                <div class="detalles">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
            <br>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Televisor Smart TV" class="img-products">
                <i class="fa-solid fa-truck"></i>
                <div class="detalles">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
        </section>
        <h3>Sección de Ofertas</h3>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="img-products">
                <i class="fa-solid fa-truck"></i>
                <div class="detalles">
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>
            <br>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBooK" class="img-products">
                <i class="fa-solid fa-truck"></i>
                <div class="detalles">
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            <br>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="img-products">
                <i class="fa-solid fa-truck"></i>
                <div class="detalles">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
            <br>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Televisor Smart TV" class="img-products">
                <i class="fa-solid fa-truck"></i>
                <div class="detalles">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
        </section>
    </main>
    <hr>
    <footer>
        <section>
            <i class="fa-sharp fa-solid fa-credit-card icon-color"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift icon-color"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield icon-color"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <div class="copyright">
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </div>
    </footer>
</body>

</html>