<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Mercado Liebre | Ingresa</title>
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="" class="logo"></a>
            <h4 class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta
                de
                crédito</h4>
        </div>
        <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>
        <nav class="bottom-bar">
            <ul class="left-navbar">
                <li><a href="http://">Ofertas</a></li>
                <li><a href="http://">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="http://">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/registro">Crea tu cuenta</a><i class="fas fa-address-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="http://">Mis compras</a><i class="fas fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>
    <form action="/" method="get" class="create-form">
        <div class="main-form">
            <div class="control-form">
                <label for="nombre">Nombre de usuario</label>
                <input type="text" name="nombre" id="nombre" class="control" required>
            </div>
            <div class="control-form">
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña" class="control" required>
            </div>
            <a href="/">
                <button type="submit" class="boton-form">Enviar</button>
            </a>
        </div>
       
    </form>
</body>
</html>