<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Mercado Liebre | Register</title>
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="" class="logo"></a>
            <h4 class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta
                de
                crédito</h4>
        </div>
        <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>
        <nav class="bottom-bar">
            <ul class="left-navbar">
                <li><a href="http://">Ofertas</a></li>
                <li><a href="http://">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="http://">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/registro">Crea tu cuenta</a><i class="fas fa-address-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="http://">Mis compras</a><i class="fas fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        
    </header>
    <form action="/" method="GET" class="create-form">
        <div class="main-form">
            <div class="control-form">
                <label for="nombre" class="input_title">Nombre y apellido</label>
                <input type="text" name="nombre" id="nombre" class="control" required>
            </div>
            <div class="control-form">
                <label for="usuario" class="input_title">Nombre de usuari@</label>
                <input type="text" name="usuario" id="usuario" class="control" required>
            </div>
            <div class="control-form">
                <label for="fecha" class="input_title">Fecha de nacimiento</label>
                <input type="date" name="fecha" id="fecha" class="control" required>
            </div>
            <div class="control-form">
                <label for="domi" class="input_title">Domicilio</label>
                <input type="text" name="domi" id="domi" class="control">
            </div>
            <div class="control-form">
                <label for="comp" class="input_title">Comprador o Vendedor? *</label>
                <div class="radio-form">
                    <label for="comp" class="radio_title">
                        <input type="radio" name="Comprador" id="comp" value="comprador">Comprador
                    </label>
                    <label for="vend" class="radio_title">
                        <input type="radio" name="Vendedor" id="vend" value="vendedor">Vendedor
                    </label>
                </div>
            </div>
            <div class="control-form">
                <label for="cat" class="input_title">Categorías de Interés *</label>
                <div class="radio-form">
                    <label for="elec" class="radio_title"><input type="checkbox" name="electro" id="elec">Electro</label>
                    <label for="moda" class="radio_title"><input type="checkbox" name="moda" id="moda">Moda</label>
                    <label for="hog" class="radio_title"> <input type="checkbox" name="hogar" id="hog">Hogar</label>
                    <label for="jug" class="radio_title"> <input type="checkbox" name="jugueteria" id="jug">Jugueteria</label>
                    <label for="vid" class="radio_title"><input type="checkbox" name="vida" id="vid">Vida Sana</label>
                </div>
            </div>
            <div class="control-form">
                <label for="foto" class="input_title">Selecciona tu foto de perfil</label>
                <input type="file" name="avatar" accept =".jpg" id="foto" multiple>
            </div>
            <div class="control-form">
                <label for="contraseña" class="input_title">Contraseña</label>
                <input type="password" name="password" id="contraseña" required>
                <label for="contraseña" class="input_title conf-pass">Confirmar Contraseña</label>
                <input type="password" name="password" id="valid_contraseña" required>
            </div>
            <button type="reset" class="boton-form" >Borrar</button>
            <a href="/">
                <button type="submit" class="boton-form">Guardar</button>
            </a>
        </div>
    </form>
</body>
</html>